{% extends "app/layout.html" %}

{% block content %}

<div class="transbox" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-8">
            <form action="about" method="post">
                {% csrf_token %}
                {% for title, guid, value in news %}
                    {% if id == guid %}
                        {% autoescape off %}
                            <div>{{ value.0 }}</div>
                            <br>
                            <br>
                        {% endautoescape %}
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
</div>

{% endblock %}