{% extends "app/layout.html" %}

{% block content %}

<div class="container body-content">
    <div>
        <h1>Criar Notícia</h1>
        <h5>Publica aqui a tua notícia.</h5>
    </div>

    <form action="create_new" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Título</label>
            <input style="padding-right: 70%;" type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
              <label for="corpo">Corpo:</label>
              <textarea style="padding-right: 70%;" class="form-control" rows="15" id="corpo" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-default" value="Enviar Notícia">Enviar</button>
    </form>
</div>

{% endblock %}