{% extends "app/layout.html" %}

{% block content %}

<div class="container body-content">
            <div>
                <h1>Criar Notícia</h1>
                <h5>Publica aqui a tua notícia.</h5>
            </div>
</div>

<div class="transbox" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="row">
        <div class="col-md-8">
            <form action="createNew" method="post">
            {% csrf_token %}
            <p>Titulo      <input style="padding-right: 100%;" type="text" name="title"></p>
            <p>Descrição   <textarea style="padding-right: 100%; padding-bottom: 30%" type="text" name="description"></textarea></p>
            <p><input type="submit" value="Enviar Notícia"></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}