body {
    padding-top: 30px;
    padding-bottom: 50px;
}

div.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

div.card-header{
    background-color: white;
}

a.card-link{
    color: #000000;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.jumbotron {
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    height: 300px;

}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}