{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid" style="margin-top: 30px">
    <div class="row" style="margin-top: 30px">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src={{ photo }} alt="Card image cap">
                <div class="card-block">
                    </br>
                    <center><h5 class="card-title align-content-between"><i class="fa fa-spotify" aria-hidden="true" style="color: #4cae4c"></i> {{ username }} Account </h5></center>
                    <p class="card-text">
                    <ul style="list-style-type: none;">
                        <li><i class="fa fa-birthday-cake" aria-hidden="true" style="color: #4cae4c"></i> Birthday: {{ birthdate }}</li>
                        <li><i class="fa fa-globe" aria-hidden="true" style="color: #4cae4c"></i> Country: {{ country }}</li>
                        <li><i class="fa fa-users" aria-hidden="true" style="color: #4cae4c"></i> Followers: {{ followers }}</li>
                        <li><i class="fa fa-user" aria-hidden="true" style="color: #4cae4c"></i> Username: {{ id }}</li>

                    </ul>
                    </p>
                    <a href={{ external_urls }} class="btn btn-toolbar" target="_blank" style="color: #4cae4c">My spotify page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
            <div class="card" style="padding: 30px">
                <h4 class="card-title">Recently Played</h4>
                <ul style="padding-left: 0px">
                    {% for music in musics %}
                    <li style="list-style-type: none; margin-bottom: 10px;"><img style="height: 40px; width: 40px; border-radius: 30px" src="{{ music.image }}"><span style="margin-left: 10px"><a style="color: black;" href="/music/id={{ music.id }}">{{ music.name }}</a></span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card" style="padding: 30px">
                <h4 class="card-title">About you</h4>
            </div>
        </div>
    </div>
</div>


{% endblock %}