{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style=" background-image: url({{ image }}); background-repeat: no-repeat; background-attachment: fixed; background-position: center top; ">
    <div class="container" style="text-shadow: 1px 0px 2px rgba(255, 255, 255, 0.8);">
        <h1 class="display-4">{{ name }}</h1>
        {% if artist_info.birth %}
        <small>Born in: {{ artist_info.birth }}</small><br>
        {% endif %}
        {% if artist_info.facebook %}
        <a style="color: #343a40" href="https://www.facebook.com/{{ artist_info.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        {% endif %}
        {% if artist_info.twitter %}
        <a style="color: #343a40" href="https://www.twitter.com/{{ artist_info.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        {% endif %}
        {% if artist_info.instagram %}
        <a style="color: #343a40" href="https://www.instagram.com/{{ artist_info.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        {% endif %}
        {% if artist_info.official_site %}
        <a style="color: #343a40" href="{{ artist_info.official_site }}"><i class="fa fa-globe" aria-hidden="true"></i></a>
        {% endif %}
        {% if artist_info.country_name %}
        <h6>{{ artist_info.country_name }}</h6>
        {% endif %}

        {% if artist_genre.genre %}
        <br/>
        <small class="text-capitalize">
            {{ artist_genre.genre|join:", " }}
        </small>
        {% endif %}
    </div>
</div>
<div class="container">
    <div class=" row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-9">
            <div style="padding-bottom: 30px">
                <div class="card"  style="padding: 1.25rem">
                    <div class="card-block">
                        <h3 class="card-title">Popular</h3>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Music</th>
                                <th scope="col">Artists</th>
                                <th scope="col">Time</th>
                                <th scope="col">Likes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-3 sidebar-offcanvas ">
            <div class="row">
                {% if artist_rel.father or artist_rel.mother or artist_rel.sibling %}
                <div class="col-lg-12">
                    <div class="card" style="padding: 1.25rem">
                        <div class="card-block">
                            <h3 class="card-title">Relationships</h3>
                            {% if artist_rel.father %}
                                <small><strong>Father:</strong> {{ artist_rel.father }}</small><br/>
                            {% endif %}
                            {% if artist_rel.mother %}
                                <small><strong>Mother:</strong> {{ artist_rel.mother }}</small><br/>
                            {% endif %}
                            {% if artist_rel.sibling|length > 0 %}
                                {% for sibling in artist_rel.sibling %}
                                    <small><strong>Sibling:</strong> {{ sibling }}</small><br/>
                                {% endfor %}
                            {% elif artist_rel.sibling %}
                                <small><strong>Sibling:</strong> {{ artist_rel.sibling }}</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if artist_rel.father or artist_rel.mother or artist_rel.sibling %}
                <div class="col-lg-12">
                    <div class="card" style="padding: 1.25rem">
                        <div class="card-block">
                            <h3 class="card-title">Interests</h3>
                            <span class="text-capitalize">
                            {% if artist_occupations.occupations|length > 0 %}
                                {% for occupation in artist_occupations.occupations %}
                                {{ occupation }}<br/>
                                {% endfor %}
                            {% elif artist_occupations.occupations %}
                                {{ artist_occupations.occupations }}
                            {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
