{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<div style="padding-top: 50px" class="container body-content">
    <div>
        <h1>New Albums and Singles</h1>
        <div class="row">
            {% for name,image in new_releases %}
                <div class="col-sm-3">
                    <div class="card">
                        <img data-toggle="modal" data-target=".bd-example-modal-sm" class="card-img-top"
                             src="{{ image }}" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title"> {{ name }} </h6>
                            <a href="#" class="card-text badge badge-pill badge-secondary ">Songs</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div style="padding-top: 30px">
        <h1>Top Tracks</h1>
        <div class="row">
        {% for name, image in top_tracks %}
                <div class="col-sm-3">
                    <div class="card">
                        <img data-toggle="modal" data-target=".bd-example-modal-sm" class="card-img-top"
                             src="{{ image }}" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">{{ name }}</h6>
                            {% for artist,trackname,id in artists %}
                                    <a href="/artist/id={{id}}/" class="card-text badge badge-pill badge-secondary ">{{ artist }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Music Name</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Album:</b> None</p>
                <p><b>Artistas:</b> None</p>
                <p><b>Ano:</b> None</p>
                <p><b>Editora:</b> None</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
