{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container body-content">
        <div>
            <h1>Trending</h1>
            <div class="row">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
                          <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
                <div class="col-sm-3">
                    <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div style="padding-top: 30px">
           <h1>New Releases</h1>
            <div class="row">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
                          <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
                <div class="col-sm-3">
                    <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Music Name (feat.xxx)</h4>
                    <p class="card-text">Artists</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>


{% endblock %}
