<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>Spotify - {{ title }}</title>
    {% else %}
        <title>Spotify</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{% static 'app/images/spotify.ico' %}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/images/spotify.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.css' %}"/>
    <script src="{% static 'app/scripts/jquery-3.2.1.min.js' %}"></script>
</head>


<body style="background-color: white">



<nav class="navbar navbar-toggleable-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <a style="padding-right: 5px" href="{% url 'home' %}" class="navbar-brand">Home</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Statistics</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
        </ul>
        {% if username %}
        <form class="form-inline" id="formsearch" method="post" action="/search/">
            {% csrf_token %}
            <div class="input-group" style="width: 170px">
              <input type="text" class="form-control" name="text" placeholder="Search for..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" name="search"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
        </form>
        {% endif %}
        {% include 'app/loginpartial.html' %}
    </div>
</nav>

<div>

     {% block content %}{% endblock %}

    <footer class="container body-content fixed">
        <hr/>
        <p>&copy; 2017 EDC - Cristiana Carvalho, Daniela Simões, Domingos Nunes</p>
    </footer>
</div>

<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>

<script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script src="{% static 'app/scripts/comments.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
