{% extends "app/layout.html" %}

{% block content %}

<div style="padding-top: 40px" class="container body-content">
        <section id="loginForm" style="text-align: center">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="card col-lg-6 col-md-12 col-sm-12" style="padding: 50px">
                    <form action="." method="post" class="form-horizontal">
                        {% csrf_token %}
                        <h2 style="color: #4cae4c"><a style="color: #4cae4c" href="{% url 'spotify_login' %}"><i class="fa fa-spotify"></i> Login com Spotify </a></h2>
                            <hr/>

                    </form>
                </div>
            </div>
        </section>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}
    {% load staticfiles %}
        <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
