{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron jumbotron-fluid" xmlns:foaf="http://xmlns.com/foaf/spec/" xmlns:spot="http://top-tracks.org/pred/" about="http://www.top-tracks.com/items/{{ music_id }}"
     style=" background-image: url({{ music.image_url.0 }}); background-repeat: no-repeat; background-attachment: fixed; background-position: center top; ">
    <div class="container" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);">
        <h1 class="display-4" style="color: white" property="foaf:name_track">{{ music.name_track }}</h1>
        <h4 rel="spot:artists">
            {% for artist in music.artists %}
            {% if forloop.last %}
            <a style="color: white" href="/artist/id={{ artist.1 }}/" about="http://www.top-tracks.com/artists/{{ music_id }}/{{ artist.1 }}" property="foaf:name">{{ artist.0 }}</a>
            {% else %}
            <a style="color: white" href="/artist/id={{ artist.1 }}/" about="http://www.top-tracks.com/artists/{{ music_id }}/{{ artist.1 }}" property="foaf:name">{{ artist.0 }}</a><span
                style="color: white">,</span>
            {% endif %}
            {% endfor %}
        </h4>

        {% if music.popularity %}
        <small property="spot:popularity"><strong>Popularity:</strong> {{ music.popularity}}%</small>
        {% endif %}

        {% if music.preview_url %}
            <h5 style="margin-top: 10px">
                <i class="fa fa-pause" id="play_pause" style="cursor: pointer" aria-hidden="true"></i> <i id="play_text">Playing...</i>
            </h5>

            <audio id="audio_preview" controls autoplay property="spot:preview_url">
                <source src="{{music.preview_url}}" type="audio/ogg">
                <source src="{{music.preview_url}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <script type="application/javascript">
                $("#audio_preview").hide();

                $("#audio_preview")[0].addEventListener('ended', function(){
                        $("#play_pause").removeClass("fa-pause");
                        $("#play_pause").addClass("fa-play");
                        $("#play_text").html("Stopped...");
                });

                $("#play_pause").click(function () {
                    var player = $("#audio_preview")[0];
                    if (player.paused == false) {
                        player.pause();
                        $(this).removeClass("fa-pause");
                        $(this).addClass("fa-play");
                        $("#play_text").html("Paused...");
                    } else {
                        player.play();
                        $(this).removeClass("fa-play");
                        $(this).addClass("fa-pause");
                        $("#play_text").html("Playing...");
                    }
                });
            </script>
        {% endif %}
    </div>
</div>
<div class="container">
    <div class=" row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-12">
            <div style="padding-bottom: 30px">
                <div class="card" style="padding: 1.25rem">
                    <div class="card-block">
                        <iframe src="https://open.spotify.com/embed?uri={{music.uri}}" width="100%" height="380"
                                frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="col-lg-1">
            <img style="width: 90px; border: 1px solid #428bca" class="img-responsive img-rounded" src="{{ photo }}"/>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        <strong>{{ user_name }}</strong> <span class="text-muted"></span>
                        </div>
                        <div class="panel-body">
                            <form method="post" >
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Insert your comment." rows="3" name="comment" id="text_to_comment"></textarea>
                                </div>
                                <button style="text-align: right" class="btn btn-primary" id="comment">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top: 10px;"></div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="newComment">
    {% csrf_token %}
        {% for comment in comments %}
            <div class="col-lg-1">
                <img style="width: 90px; border: 1px solid #428bca" class="img-responsive img-rounded" src="{{ photo }}"/>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            <strong>{{ comment.name }}</strong> <span class="text-muted"></span>
                            </div>
                            <div class="panel-body">
                                {{ comment.comment }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin-top: 10px;">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
